<section class="home-container">
    <div class="container">
        <div class="home">
            <div class="home__content">
                <div class="home__content-title">
                    <div class="title-secondary">
                        Hello, Lorem Ipsum
                    </div>
                    <div class="title-primary">
                        WELCOME TO MY WEBSITE
                    </div>
                    <div class="title-desc">
                        Let's work together.
                    </div>
                </div>
                <div class="home__content-btn">
                    <button class="main-btn">DOWNLOAD</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-container">
    <div class="container">
        <div class="about">
            <div class="about__content">
                <div class="about__content-title">
                    <div class="title-secondary">
                        I'm your Graphic and Web Designer.
                    </div>
                    <div class="title-primary">
                        ABOUT <span>MYSELF</span>
                    </div>
                </div>
                <div class="about__content-content">
                    <div class="content-info">
                        <div class="content-info__container">
                            <div class="info__label">
                                Full Name
                            </div>
                            <div class="info__myinfo">
                                John Paul Marcelo Sebastian
                            </div>
                        </div>
                        <div class="content-info__container">
                            <div class="info__label">
                                Other Name
                            </div>
                            <div class="info__myinfo">
                                Jam
                            </div>
                        </div>
                        <div class="content-info__container">
                            <div class="info__label">
                                Address
                            </div>
                            <div class="info__myinfo">
                                Poblacion, Pandi, Bulacan
                            </div>
                        </div>
                        <div class="content-info__container">
                            <div class="info__label">
                                Date of Birth
                            </div>
                            <div class="info__myinfo">
                                January 05, 1999
                            </div>
                        </div>
                        <div class="content-info__container">
                            <div class="info__label">
                                Phone Number
                            </div>
                            <div class="info__myinfo">
                                0945 - 413 -5652
                            </div>
                        </div>
                        <div class="content-info__container">
                            <div class="info__label">
                                Email
                            </div>
                            <div class="info__myinfo">
                                sebastianjam76@yahoo.com
                            </div>
                        </div>
                        <div class="content-info__container">
                            <div class="info__label">
                                Graduated at
                            </div>
                            <div class="info__myinfo">
                                Immaculate Conception I-College of Arts and Technology
                            </div>
                        </div>
                        <div class="content-info__container">
                            <div class="info__label">
                                Studied
                            </div>
                            <div class="info__myinfo">
                                Bachelor of Science in Information Systems
                            </div>
                        </div>
                    </div>
                    <div class="content-image">
                        <img src="../../../assets/sample-profile.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="work-container">
    <div class="container">
        <div class="work">
            <div class="work__content">
                <div class="work__content-title">
                    <div class="title-secondary">
                        Take a look of my recent works.
                    </div>
                    <div class="title-primary">
                        WORK <span>COLLECTION</span>
                    </div>
                </div>

                <div class="work__content-content">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">Slide 1</div>
                          <div class="swiper-slide">Slide 2</div>
                          <div class="swiper-slide">Slide 3</div>
                          <div class="swiper-slide">Slide 4</div>
                          <div class="swiper-slide">Slide 5</div>
                          <div class="swiper-slide">Slide 6</div>
                          <div class="swiper-slide">Slide 7</div>
                          <div class="swiper-slide">Slide 8</div>
                          <div class="swiper-slide">Slide 9</div>
                          <div class="swiper-slide">Slide 10</div>
                        </div>
                            <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
