<section class="home-container">
    <div class="container">
        <div class="home">
            <div class="home__content">
                <div class="home__content-title">
                    <div class="title-secondary">
                        Hello, Lorem Ipsum
                    </div>
                    <div class="title-primary">
                        WELCOME TO MY WEBSITE
                    </div>
                    <div class="title-desc">
                        Let's work together.
                    </div>
                </div>
                <div class="home__content-btn">
                    <button class="main-btn">DOWNLOAD</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-container">
    <div class="container">
        <div class="about">
            <div class="about__content">
                <div class="about__content-title">
                    <div class="title-secondary">
                        I'm your Graphic and Web Designer.
                    </div>
                    <div class="title-primary">
                        ABOUT <span>MYSELF</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
