<section class="home-container" id="home" data-paroller-factor="0.5" data-paroller-factor-xs="0.2">
    <div class="container">
        <div class="home">
            <div class="home__content">
                <div class="home__content-title">
                    <div class="title-primary">
                        WELCOME TO MY PORTFOLIO <br>
                        I'M JOHN PAUL
                    </div>
                    <div class="title-desc">
                        Let's work together.
                    </div>
                    <div class="title-btn">
                        <button class="main-btn" (click)="downloadMyPDF()" [routerLink]="['']">DOWNLOAD CV</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shape-object -->
    <div
        class="shape-circle shape-circle-lg lax"
        data-lax-preset="lazy"
    ></div>

    <div
        class="shape-circle shape-circle-md lax"
        data-lax-preset="lazy"
    ></div>

    <div
        class="shape-circle shape-circle-sm lax"
        data-lax-preset="lazy"
    ></div>

    <img
        src="../../../assets/Assets/home_assets-1.png"
        class="home-asset-lg lax"
        data-lax-preset="lazy">

    <img
        src="../../../assets/Assets/home_assets-2.png"
        class="home-asset-md lax"
        data-lax-preset="lazy">

    <img
        src="../../../assets/Assets/home_assets-3.png"
        class="home-asset-sm lax"
        data-lax-preset="lazy">
</section>

<section class="work-container" id ="work">
    <div class="container">
        <div class="work">
            <div class="work__content">
                <div class="work__content-title">
                    <div class="title-primary">
                        WORK <span>COLLECTION</span>
                    </div>
                    <div class="title-secondary">
                        My creativity and passion.
                    </div>
                </div>

                <!-- <div class="work__content-content" id="lightgallery">
                    <a class="work__content-item" href="../../../assets/Work_List/POS - Dashboards.jpg">
                        <img src="../../../assets/Work_Poster/Dashboard - Poster.jpg">
                    </a>
                    <a class="work__content-item" href="../../../assets/Work_List/Fleek - KYZ.jpg">
                        <img src="../../../assets/Work_Poster/Fleek_KYZ-Poster.jpg">
                    </a>
                    <a class="work__content-item" href="../../../assets/Work_List/Fleek - Posting.jpg">
                        <img src="../../../assets/Work_Poster/Fleek_Posting-Poster.jpg">
                    </a>
                    <a class="work__content-item" href="../../../assets/Work_List/POS - Transaction.jpg">
                        <img src="../../../assets/Work_Poster/POS-Poster.jpg">
                    </a>
                    <a class="work__content-item" href="../../../assets/Work_List/ecommerce-1.jpg">
                        <img src="../../../assets/Work_Poster/web-template_ecommerce1-poster.jpg">
                    </a>
                    <a class="work__content-item" href="../../../assets/Work_List/ITSolution.jpg">
                        <img src="../../../assets/Work_Poster/web-template_itsolution-poster.jpg">
                    </a>
                    <a class="work__content-item" href="../../../assets/Work_List/web-template_organic.jpg">
                        <img src="../../../assets/Work_Poster/web-template_organic-poster.jpg">
                    </a>
                    <a class="work__content-item" href="../../../assets/Work_List/web-template_residence.jpg">
                        <img src="../../../assets/Work_Poster/web-template_residence-poster.jpg">
                    </a>
                    <a class="work__content-item" href="../../../assets/Work_List/web-template_travel.jpg">
                        <img src="../../../assets/Work_Poster/web-template_travel-poster.jpg">
                    </a>
                </div> -->

                <div class="work__content-content">
                    <div class="swiper-container">
                        <div class="swiper-wrapper" id="lightgallery">
                            <a class="swiper-slide" href="../../../assets/Work_List/POS - Dashboards.jpg">
                                <img src="../../../assets/Work_Poster/Dashboard - Poster.jpg">
                            </a>
                            <a class="swiper-slide" href="../../../assets/Work_List/kyz.jpg">
                                <img src="../../../assets/Work_Poster/kyz-Poster.jpg">
                            </a>
                            <a class="swiper-slide" href="../../../assets/Work_List/Social-Media-Posting.jpg">
                                <img src="../../../assets/Work_Poster/Social-Media-Posting-Poster.jpg">
                            </a>
                            <a class="swiper-slide" href="../../../assets/Work_List/POS - Transaction.jpg">
                                <img src="../../../assets/Work_Poster/POS-Poster.jpg">
                            </a>
                            <a class="swiper-slide" href="../../../assets/Work_List/ecommerce-1.jpg">
                                <img src="../../../assets/Work_Poster/web-template_ecommerce1-poster.jpg">
                            </a>
                            <a class="swiper-slide" href="../../../assets/Work_List/ITSolution.jpg">
                                <img src="../../../assets/Work_Poster/web-template_itsolution-poster.jpg">
                            </a>
                            <a class="swiper-slide" href="../../../assets/Work_List/web-template_organic.jpg">
                                <img src="../../../assets/Work_Poster/web-template_organic-poster.jpg">
                            </a>
                            <a class="swiper-slide" href="../../../assets/Work_List/web-template_residence.jpg">
                                <img src="../../../assets/Work_Poster/web-template_residence-poster.jpg">
                            </a>
                            <a class="swiper-slide" href="../../../assets/Work_List/web-template_travel.jpg">
                                <img src="../../../assets/Work_Poster/web-template_travel-poster.jpg">
                            </a>
                        </div>
                    </div>

                    <div class="swiper-btn">
                        <div class="swiper-prev">
                            <img src="../../../assets/icon-prev.svg">
                        </div>
                        <div class="swiper-next">
                            <img src="../../../assets/icon-next.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-container" id="about">
    <div class="container">
        <div class="about">
            <div class="about__content">
                <div class="about__content-title">
                    <div class="title-primary">
                        ABOUT <span>ME</span>
                    </div>
                    <div class="title-secondary">
                        I am a Creative Designer and <br>
                        Frontend Developer
                    </div>
                </div>
                <div class="about__content-content">
                    <div class="content-info">
                        <div class="content-info__title">
                            <div class="content-info__title-primary">
                                Hi I'm John Paul, your Creative Designer.
                            </div>
                            <div class="content-info__title-border"></div>
                            <div class="content-info__title-desc">
                                A very passionate and enthusiastic person with vast creativity and proven skills in graphic designing and web development, willingly to expand his knowledge and experience.
                            </div>
                        </div>
                        <div class="content-info__img-mobile">
                            <img src="../../../assets/Assets/about_my-photo-mobile.jpg" alt="">
                        </div>
                        <div class="content-info__info">
                            <div class="content-info__info-container">
                                <div class="info-label">
                                    Fullname:
                                </div>
                                <div class="info-data">
                                    John Paul Sebastian
                                </div>
                            </div>
                            <div class="content-info__info-container">
                                <div class="info-label">
                                    Nickname:
                                </div>
                                <div class="info-data">
                                    Jam
                                </div>
                            </div>
                            <!-- <div class="content-info__info-container">
                                <div class="info-label">
                                    Contact Number:
                                </div>
                                <div class="info-data">
                                    0945 - 413 -5652
                                </div>
                            </div> -->
                            <div class="content-info__info-container">
                                <div class="info-label">
                                    Email Address:
                                </div>
                                <div class="info-data">
                                    sebastianjhonpaul@gmail.com
                                </div>
                            </div>
                            <div class="content-info__info-container">
                                <div class="info-label">
                                    Studied:
                                </div>
                                <div class="info-data">
                                    Bachelor of Science in Information Systems
                                </div>
                            </div>
                            <div class="content-info__info-container">
                                <div class="info-label">
                                    School Graduated:
                                </div>
                                <div class="info-data">
                                    Immaculate Conception I-College of Arts and Technology
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-image">
                        <img src="../../../assets/Assets/about_my-photo.png">
                    </div>
                </div>
            </div>

            <!-- shape-object-assets -->
            <img
            src="../../../assets/Assets/profile-asset_1.svg"
            class="about-asset about_asset-1 lax"
            data-lax-preset="lazy"
            >

            <img
                src="../../../assets/Assets/profile-asset_2.svg"
                class="about-asset about_asset-2 lax"
                data-lax-preset="lazy"
            >

            <img
                src="../../../assets/Assets/profile-asset_3.svg"
                class="about-asset about_asset-3 lax"
                data-lax-preset="lazy"
            >

            <img
                src="../../../assets/Assets/profile-asset_4.svg"
                class="about-asset about_asset-4 lax"
                data-lax-preset="lazy"
            >

        </div>
    </div>

    <!-- shape-object -->
    <!-- <img
        src="../../../assets/shape-box-dotted-sm-white.svg"
        class="shape-box-dotted-sm-white rellax"
        data-rellax-speed="6"
        >

    <img
        src="../../../assets/shape-multiple-slice.svg"
        class="shape-multiple-slice lax"
        data-lax-preset="rightToLeft"
        >

    <img
        src="../../../assets/shape-tower-line.svg"
        class="shape-tower-line lax"
        data-lax-preset="lazy">

    <img
        src="../../../assets/shape-box-dotted-sm.svg"
        class="shape-box-dotted-sm lax"
        data-lax-preset="leftToRight">

    <img
        src="../../../assets/shape-box-border.svg"
        class="shape-box-border-sm lax"
        data-lax-preset="spin">

    <img
        src="../../../assets/shape-box-white.svg"
        class="shape-box-white lax"
        data-lax-preset="spin">

    <img
        src="../../../assets/shape-circle-multiple.svg"
        class="shape-circle-multiple lax"
        data-lax-preset="lazy">

    <img
        src="../../../assets/shape-box-dotted-lg.svg"
        class="shape-box-dotted-lg rellax"
        data-rellax-speed="5">

    <img
        src="../../../assets/shape-wave-1.svg"
        class="shape-wave-1 lax"
        data-lax-preset="rightToLeft">

    <img
        src="../../../assets/shape-wave-1.svg"
        class="shape-wave-2 lax"
        data-lax-preset="leftToRight">

    <img
        src="../../../assets/shape-multiple-arrow.svg"
        class="shape-multiple-arrow rellax"
        data-rellax-speed="4"> -->
</section>

<section class="skills-container" id="skills">
    <div class="container">
        <div class="skills">
            <div class="skills-content">
                <div class="skills__content-title">
                    <div class="title-primary">
                        USED <span>TECHNOLOGIES</span>
                    </div>
                    <div class="title-secondary">
                        The tools of innovation.
                    </div>
                </div>
                <div class="skills__content-content">

                    <div class="skills-info">
                        <div class="skills-img">
                            <img src="../../../assets/skill-1.png">
                        </div>
                        <div class="skills-rating__info">
                            <div class="info-label">
                                Adobe Photoshop
                            </div>
                            <div class="info-rating">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                            </div>
                        </div>
                    </div>

                    <div class="skills-info">
                        <div class="skills-img">
                            <img src="../../../assets/skill-2.png">
                        </div>
                        <div class="skills-rating__info">
                            <div class="info-label">
                                Adobe Illustrator
                            </div>
                            <div class="info-rating">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                            </div>
                        </div>
                    </div>

                    <div class="skills-info">
                        <div class="skills-img">
                            <img src="../../../assets/skill-3.png">
                        </div>
                        <div class="skills-rating__info">
                            <div class="info-label">
                                Angular
                            </div>
                            <div class="info-rating">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                            </div>
                        </div>
                    </div>

                    <div class="skills-info">
                        <div class="skills-img">
                            <img src="../../../assets/skill-4.png">
                        </div>
                        <div class="skills-rating__info">
                            <div class="info-label">
                                Vue.js
                            </div>
                            <div class="info-rating">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                            </div>
                        </div>
                    </div>

                    <div class="skills-info">
                        <div class="skills-img">
                            <img src="../../../assets/skill-5.png">
                        </div>
                        <div class="skills-rating__info">
                            <div class="info-label">
                                Laravel
                            </div>
                            <div class="info-rating">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                            </div>
                        </div>
                    </div>

                    <div class="skills-info">
                        <div class="skills-img">
                            <img src="../../../assets/skill-6.png">
                        </div>
                        <div class="skills-rating__info">
                            <div class="info-label">
                                HTML
                            </div>
                            <div class="info-rating">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                            </div>
                        </div>
                    </div>

                    <div class="skills-info">
                        <div class="skills-img">
                            <img src="../../../assets/skill-7.png">
                        </div>
                        <div class="skills-rating__info">
                            <div class="info-label">
                                CSS
                            </div>
                            <div class="info-rating">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                            </div>
                        </div>
                    </div>

                    <div class="skills-info">
                        <div class="skills-img">
                            <img src="../../../assets/skill-8.png">
                        </div>
                        <div class="skills-rating__info">
                            <div class="info-label">
                                Javascript
                            </div>
                            <div class="info-rating">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                            </div>
                        </div>
                    </div>

                    <div class="skills-info">
                        <div class="skills-img">
                            <img src="../../../assets/skill-9.png">
                        </div>
                        <div class="skills-rating__info">
                            <div class="info-label">
                                Github
                            </div>
                            <div class="info-rating">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                            </div>
                        </div>
                    </div>

                    <div class="skills-info">
                        <div class="skills-img">
                            <img src="../../../assets/skill-10.png">
                        </div>
                        <div class="skills-rating__info">
                            <div class="info-label">
                                Git
                            </div>
                            <div class="info-rating">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                            </div>
                        </div>
                    </div>

                    <div class="skills-info">
                        <div class="skills-img">
                            <img src="../../../assets/skill-11.png">
                        </div>
                        <div class="skills-rating__info">
                            <div class="info-label">
                                Sass
                            </div>
                            <div class="info-rating">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                            </div>
                        </div>
                    </div>

                    <div class="skills-info">
                        <div class="skills-img">
                            <img src="../../../assets/skill-12.png">
                        </div>
                        <div class="skills-rating__info">
                            <div class="info-label">
                                Microsoft Office
                            </div>
                            <div class="info-rating">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                            </div>
                        </div>
                    </div>

                    <div class="skills-info">
                        <div class="skills-img">
                            <img src="../../../assets/skill-13.png">
                        </div>
                        <div class="skills-rating__info">
                            <div class="info-label">
                                Quasar Framework
                            </div>
                            <div class="info-rating">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                            </div>
                        </div>
                    </div>

                    <div class="skills-info">
                        <div class="skills-img">
                            <img src="../../../assets/skill-14.png">
                        </div>
                        <div class="skills-rating__info">
                            <div class="info-label">
                                Bootstrap
                            </div>
                            <div class="info-rating">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                                <img src="../../../assets/icon-star.svg">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
